<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--bean就是java对象 , 由Spring创建和管理-->
    <bean id="hello" class="com.lsq.pojo.Hello">
        <property name="name" value="Spring"/>
    </bean>




    <bean id="MysqlImpl" class="com.lsq.dao.impl.UserDaoMySqlImpl"/>
    <bean id="OracleImpl" class="com.lsq.dao.impl.UserDaoOracleImpl"/>

    <bean id="ServiceImpl" class="com.lsq.service.impl.UserServiceImpl">
        <!--引用另外一个bean , 不是用value 而是用 ref-->
        <property name="userDao" ref="MysqlImpl"/>
    </bean>


<!--无参-->
    <bean id="user" class="com.lsq.pojo.User">
        <property name="name" value="linshengqian"/>
    </bean>


<!--    有参数-->
<!--  beans.xml 有三种方式编写-->

    <!-- 第一种根据index参数下标设置 -->
    <bean id="userT01" class="com.lsq.pojo.UserT">
        <!-- index指构造方法 , 下标从0开始 -->
        <constructor-arg index="0" value="linshengqianT"/>
    </bean>
    <!-- 第二种根据参数名字设置 -->
    <bean id="userT02" class="com.lsq.pojo.UserT">
        <!-- name指参数名 -->
        <constructor-arg name="name" value="linshengqianT"/>
    </bean>
    <!-- 第三种根据参数类型设置 -->
    <bean id="userT03" class="com.lsq.pojo.UserT">
    <constructor-arg type="java.lang.String" value="linshengqian"/>
    </bean>


</beans>